name: Unit tests

on:
  workflow_dispatch: {}
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup spack
      uses: spack/setup-spack@v2.1.1
      with:
        ref: develop

    - name: Add mochi-spack-packages
      run: |
        git clone https://github.com/mochi-hpc/mochi-spack-packages
        spack -e tests repo add mochi-spack-packages

    - name: Install spack environment
      run: |
        spack -e tests install

    - name: Show spack-installed packages for debugging
      run: |
        spack -e tests find -dlv

    - name: Build code and run unit tests
      run: |
        eval `spack env activate --sh tests`
        mkdir build && cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=`pwd`/install -DCMAKE_PREFIX_PATH="$CMAKE_PREFIX_PATH"
        make
        ctest --output-on-failure
        cd .. && rm -rf build

    - name: Build code and run unit tests with liburing
      run: |
        eval `spack env activate --sh tests`
        mkdir build && cd build
        cmake .. -DENABLE_LIBURING=ON -DCMAKE_INSTALL_PREFIX=`pwd`/install -DCMAKE_PREFIX_PATH="$CMAKE_PREFIX_PATH"
        make
        ctest --output-on-failure
        cd .. && rm -rf build

    - name: Rebuild code and run unit tests with ASAN
      run: |
        eval `spack env activate --sh tests`
        mkdir build && cd build
        cmake .. -DCMAKE_C_FLAGS="-fno-omit-frame-pointer -g -Wall -fsanitize=address" -DCMAKE_EXE_LINKER_FLAGS="-fsanitize=address" -DCMAKE_SHARED_LINKER_FLAGS="-fsanitize=address" -DCMAKE_INSTALL_PREFIX=`pwd`/install -DCMAKE_PREFIX_PATH="$CMAKE_PREFIX_PATH"
        make
        ASAN_OPTIONS="abort_on_error=1" ctest --output-on-failure
        cd .. && rm -rf build

    - name: Rebuild code and run unit tests with ASAN and liburing
      run: |
        eval `spack env activate --sh tests`
        mkdir build && cd build
        cmake .. -DENABLE_LIBURING=ON -DCMAKE_C_FLAGS="-fno-omit-frame-pointer -g -Wall -fsanitize=address" -DCMAKE_EXE_LINKER_FLAGS="-fsanitize=address" -DCMAKE_SHARED_LINKER_FLAGS="-fsanitize=address" -DCMAKE_INSTALL_PREFIX=`pwd`/install -DCMAKE_PREFIX_PATH="$CMAKE_PREFIX_PATH"
        make
        ASAN_OPTIONS="abort_on_error=1" ctest --output-on-failure
        cd .. && rm -rf build
